.input_block{
    display: flex;
    margin-bottom: 15px;
}
input, select{
    background: none;
    border: 1px solid black;
}
input{
    padding-left: 20px;
    flex-basis: 70%;
    font-size: 18px;
}
select{
    padding: 15px;
    flex-basis: 30%;
}